.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.carousel {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 5px;
}

.slide-description {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 1rem;
  border-radius: 5px;
  
}

.sidebar {
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
  backdrop-filter: blur(10px);
  border-radius: 5px;
}

.product-card {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 100%;
}

.contenedor{
  margin-top: 10px;
}

.rating {
  font-size: 1.5rem;
  color: #ffc107;
}

.rating-star {
  margin-right: 4px;
}

.modal-content {
  border-radius: 8px;
}

.custom-modal .modal-dialog {
  max-width: 900px; 
}

.row > .col-4 {
  padding-left: 10px;
  padding-right: 10px;
}

.reset-password-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-password-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
}

.about-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 15px;
}

.about-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

.about-text {
  font-size: 1rem;
  text-align: justify;
}

.faq-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

footer{
  color: white;
}

footer a:hover{
  color: rgba(255, 251, 251, 0.4);
}

footer a{
  text-decoration: none;
  color: #ddd;
}

.tags{
  border-radius: 5px;
  width: 50%;
  text-align: center;
}

.tags li{
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  margin-top: 2px;
}

.page-link{
  color: black;
}

.modal-producto img{
  width: 50px;
  height: 50px;
}

@media (max-width: 576px) {
  #multiImageCarousel {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .social-buttons {
      display: flex;
      flex-direction: column;
  }
  .social-buttons button {
      margin-bottom: 10px;
  }
}
  

.contenedor .form{
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 5px 35px;
  padding-bottom: 30px;
  border-radius: 20px;
  text-align: center;

}
.contenedor .form .form-label{
  display: block;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-family: cursive;
  position: relative;
  text-align: center;
}

.contenedor .form .form-input, .form-textarea{
  background: #f9f9f9b3;
  border: none;
  outline: none;
  border-bottom: 3px solid #000000;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 20px;
  font-size: 14px;
  color: #000000;
  text-align: center;


}
.contenedor .form .form-textarea{
  resize: vertical;
  max-height: 150px;
  min-height: 50px;
  text-align: center;
  color: #000;
}

.titulo{
  color:#000000;
  text-align: center;
}

.marco{
  width:100%;
  height: 300px;
  border: 1px solid #000000;
  text-align: center;
  
}

.btn-submit{
  background-color: #ff9900;
    border: none;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top:30px ;
}

.product-section {
  margin-top: 4rem;
  margin-bottom: 4rem;
  background-color: #f8f9fa;
  padding: 2rem;
  border-radius: 1rem;
}

.col-md-6 {
  padding: 1rem;
}

.product-carousel {
  margin-bottom: 1rem;
}

.product-details {
  display: flex;
  flex-direction: column;
}

.product-ref {
  color: #808080;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.description-title, .specifications-title {
  margin-bottom: 1rem;
}

.description {
  margin-bottom: 1rem;
}

.specification-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.spec-name, .spec-value {
  font-weight: bold;
}

.product-part {
  border: 1px solid rgba(0, 0, 0, 0.1); 
  padding: 1rem;
}

#alerta-nombre, #alerta-correo, #alerta-asunto, #alerta-mensaje{
  color: #ff0000;
}



/*Sección Productos*/

.contenedor .contenedor-items{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap:30px;
  grid-row-gap: 30px;
  width: 100%;
  transition: .3s;
}
.contenedor .contenedor-items .item{
  max-width: 200px;
  margin: auto;
  border: 1px solid #666;
  border-radius: 10px;
  padding: 20px;
  transition: .3s;

}
.contenedor .contenedor-items .item .img-item{
  width: 100%;
}
.contenedor .contenedor-items .item:hover{
  box-shadow: 0 0 10px #666;
}
.contenedor .contenedor-items .item .titulo-item{
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item{
  display: block;
  margin: 10px auto;
  border: none;
  background-color: black;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}
